<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Moi</title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
</head>
<body>
<header >
  <h1 align="center">M</h1>
  <div align="center">
    <h5 align="center">On peut faire de grandes choses Lorsqu'on a envie d'apprendre à les faires!</h5>
  </div> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="template/bouckita/base.html.twig">GISCARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="template/bouckita/base.html.twig">Moi
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cv.html.twig">Mon CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html.twig">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formulaire.html.twig">Formulaire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
<section class="corps">
<p align="center">
  <h5 align="center">
    Etudiant en réseaux et télécommunications à l'IUT de ROANNE
  </h5>
  <h5 align="center">
    GROUPE B2
  </h5>
  <h5 align="center">
    ************************
  </h5>
  <h5 align="center">
    ************************************************
  </h5>
  <h6 align="center">
    Date de naissance : 15/06/2005
  </h6>
  <p align="center">
    Lieu de naissance : Dolisie, Congo
  </p>
  <h6 align="center">
    Adresse: 13 Rue d'Harcourt,Roanne 42300 
  </h6>
  <p align="center">
    Adresse mail: gloirebouckitha@gmail.com
  </p>
  <h6 align="center">
    Numéro de téléphone: +33 778866007
  </h6>
  <h5 align="center">
    **************************************
  </h5>
  <h5 align="center">
    ****************
  </h5>
</p>
<div align="center">
<a href="plus.html.twig">
  <button class="btn btn-lg btn-primary">Pour en savoir plus</button>
</a>
</div>
<div style="text-align: right;padding-right: 370px">
  <img align="center" width="60%"src="https://images5.alphacoders.com/410/thumb-1920-410316.jpg">
</div>
</section>
<footer style="background-color:rgb(66, 176, 250)">
  <h6 align="center">
    *********************************
  </h6>
  <h6 align="center">
    ****************
  </h6>
  <h6 align="center">
    Copyright © Giscard - 2022-2023 - All right reserved
  </h6>
</footer>
</body>
</html> 