<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Mon cv</title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
</head>
<body>
  <header >
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="base.html.twig">GISCARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="C:\Users\Alain\sae14\templates\base.html">Moi
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cv.html.twig">Mon CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html.twig">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formulaire.html.twig">Formulaire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div align="center">
      <h2 align="center">
        Moun Giscard Gloire
      </h2>
       <font size="5" align="center">
        BOUCKITA NGOMA
        </font>
       </div>
       <h2 align="center">
          ETUDIANT EN BUT RT
      </h2>
    </header>
    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  <div align="center">
   <h5>
   <strong>
   FORMATIONS
   </strong>
   </h5>
  <h6>
  <strong>
  Baccalauréat général Français<br>
  </strong>
  </h6>
  <font size="3">
  Lycée de la révolution, Brazzaville<br>
  2021-2022<br>
  Spécialités: Physique, Mathématiques et sciences de la vie et de la terre<br>
  </font>
  <h6>
  <strong>
  Baccalauréat général Congolais<br>
  </strong>
  </h6>
  <font size="3">
  Lycée de la révolution, Brazzaville<br>
  2021-2022<br>
  Spécialités: Mathématiques et sciences de la vie et de la terre<br>
  Mention: Assez Bien<br>
  </font>
  <h6>
  <strong>
  Brevet d'études du premier cycle<br>
  </strong>
  </h6>
  <font size="3">
  College de la Fraternité, Brazzaville<br>
  2018-2019<br>
  Mention: Assez Bien<br>
  </font>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div align="center">
<legend class="mt-4"<strong>COMPETENCES</strong></legend>
</div>
<div align="center">
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Anglais</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Montage Vidéo</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Montage Son</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Graphisme</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Pack office</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div align="center">
 <h5>
   <strong>
   QUALITES PERSONNELS
   </strong>
   </h5>
</div>
<div align="center">
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Autonomie</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Patience</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Sociabilité</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
<fieldset class="form-group">
        <label for="customRange3" class="form-label"><h5>Optimisme</h5></label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </fieldset>
</div>
<footer style="background-color:rgb(66, 176, 250)">
  <h6 align="center">
    *********************************
  </h6>
  <h6 align="center">
    ****************
  </h6>
  <h6 align="center">
    Copyright © Giscard - 2022-2023 - All right reserved
  </h6>
</footer>
</body>
</html> 
