<!DOCTYPE html>
<html lang="fr">
<head>
  <title>e-portfolio</title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
</head>
<body>
<header>
  <h1 align="center">M</h1>
  <div align="center">
    <h5 align="center">
      Découvrez les compétences de Moun!
      <h6 align="center">
      </h6>
    </h5>
  </div> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="base.html.twig">GISCARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="C:\Users\Alain\sae14\templates\base.html">Moi
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cv.html.twig">Mon CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html.twig">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formulaire.html.twig">Formulaire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
   <div align="center">
   <h5>
  Je suis un habitué de l'OS Linux (Ubuntu)<br>
  Je connais les commandes les plus utilisées<br>
  J'ai aussi pu mettre en relation ma machine hôte<br>
  avec la machine virtuelle par le biais d'un<br>
  dossier partagé entre les deux.<br>
  </h5>
 </div> 
<div align="center">
 <img width="40%" src="linux.png" align="center">
</div>
   <div align="center">
   <h5>
  J'ai acquis des connaissance de base sur<br>
  sur la sécurité des systèmes d'informations<br>
  Ca m'a donc permis d'obtenir un certificat <br>
  de l'ANSSI après avoir réussi toous les<br>
  modules du Mooc<br>
  </h5>
 </div> 
<div align="center">
 <img width="40%" src="certificat.png" align="center">
</div>
   <div align="center">
   <h5>
  J'ai assez de bases en réseau pour pouvoir<br>
  débusquer une panne dans un réseau et assez<br>
  de connaissance pour pouvoir simuler un réseau<br>
  sur le logiciel packet tracer<br>
  </h5>
 </div> 
<div align="center">
 <img width="40%" src="topo.png" align="center">
</div>
</body>
